# Исключение виртуального окружения
.venv/
venv/

# Кэш и служебные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Конфиденциальные файлы
.env
*.env

# Служебные папки IDE
.vscode/
.idea/

# Файлы логов
*.log

# Игнорируем файл базы данных
massage_bot.db

# Системные файлы Windows
Thumbs.db
.DS_Store
